

<div class="d-flex justify-content-between align-items-center mb-3">
    <input type="hidden" id="Id" value="@(ViewBag.Id ?? 0)" />
    <h4 class="m-0 text-danger"><span class="k-icon k-i-buildings"></span> Tuzel Kişi Bilgileri</h4>
    <div>
        <a class="btn btn-info" href="#"><span class="k-icon k-i-search"></span> Kayıtlıdan Ara</a>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">


                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Tüzel Adı *</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("Adi")
                                                .Placeholder("Örn: Star Otomotiv")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "Adi" }))
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Telefon</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("Telefon")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "Telefon" }))
                    </div>
                </div>


                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Adres</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("Adress")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "Adress" }))
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Mail Adresi</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("EPosta")
                            .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "EPosta" }))
                    </div>
                </div>

            </div>

         

            <div class="col-md-6">

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Vergi No</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("VergiNo")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "VergiNo" }))
                    </div>
                </div>


                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Vergi Dairesi</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("VergiDairesi")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "VergiDairesi" }))
                    </div>


                </div>


                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Mersis No</label>
                    <div class="col-sm-9">
                        @(Html.Kendo().TextBox().Name("MersisNo")
                                                .HtmlAttributes(new { style = "width: 100%", @class = "form-control", id = "MersisNo" }))
                    </div>
                </div>

            </div>

        </div>

        <div class="border-top pt-3 mt-3 d-flex justify-content-end">
            <a class="btn btn-danger me-2" href="/TuzelKisiMuhatap/Listele">Tuzel Kişi Listesi</a>
            <button id="btnKaydet" type="button" class="btn btn-success" onclick="module.kaydet()">Kaydet/Güncelle</button>
        </div>
    </div>
</div>




<script src="~/js/TuzelKisiMuhatap/ekle.js"></script>
